body {
      background-color: #3A4A3F; ;
      font-family: 'Quicksand', sans-serif;
      color: #EAE2D6;
  }

  h1{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 400;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
  }

  .cat-img{
    width: 150px;
    height: auto;
  }

  .twocats-img{
    width: 170px;
    height: auto;
   }

   .cat-heart-img{
    width: 120px;
    height: auto;
   }
   
   .hvhslogo-img{
     width:130px;
    height:auto;
   }

   .info{
    text-align: center;
   }

   .cat{
    text-align: center;
   }
   
   .Subjects{
    text-align: center;
   }



  

   .h1{
     display: block;
    padding: 10px 20px;
    background-color:  #D6C6AD;
    color: #3A4A3F;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: rgba(0, 43, 13, 0.56) 0px 22px 70px 4px;
   }

   .h2{
     display: block;
    padding: 10px 20px;
    background-color:  #D6C6AD;
    color: #3A4A3F;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
   }

   .footer{
    background-color:#3A4A3F;
    padding: 10px;
    margin: 0 25px;
    text-align: center;
   }


   nav a{
    display: inline-block;
    padding: 8px 18px;
    background-color:  #4F5D4A;
    color: #EAE2D6;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 550;
    margin-inline-start: 10px;
    margin: 0 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

   }

   nav a:hover{
    background-color: #D6C6AD ;
    color:#3A4A3F;
   }

   .button{
    display: inline-block;
    padding: 12px 28px;
    background-color: #D6C6AD;
    color: #3A4A3F;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
   }

   .button:hover{
    background-color:  #4F5D4A;
    color: #EAE2D6;
   }


   main{
    background-color: #EAE2D6;
    padding: 60px 40px;
    color: #3A4A3F;
    border-radius: 25px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   }

   nav{
    background-color:#3A4A3F;
    padding: 10px;
    margin: 0 25px;
    text-align: center;
    border-bottom: 1px solid #4F5D4A;
   }

   footer{
    background-color:#4F5D4A;
    margin-top: 10px;
    color: #EAE2D6;
    text-align: center;
    border-radius: 25px;
    font-weight: 550;
   }

   .container {
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
    padding:20px;
    margin-top: 40px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   border-radius: 20px;
   }

   .container div {
    background-color:#4F5D4A;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: #EAE2D6;
    box-shadow: 0 18px 25px rgba(0, 0, 0, 0.15);
   }

   

   .container2{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows:120px ;
    gap: 30px;
    padding:20px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
   }


   .container2 .box{ 
    background-color:#4F5D4A; 
    border: 3px black; 
    color:#EAE2D6;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 600px; 
    font-size: 20px; 
    border-radius: 15px; 
     }

   .container2 .long{
     grid-row: span 2; 
    background-color:#4F5D4A;
     border: 3px black; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     font-weight: 600px; 
     font-size: 20px; 
     border-radius: 15px;
      color: #EAE2D6;
     } 

   .container2 .wide{ 
    grid-column: span 2; 
    background-color:#4F5D4A ; 
    border: 3px black; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 600px; 
    font-size: 20px; 
    border-radius: 15px; 
    color: #EAE2D6; 
  }



  
  
   
 


