body {
      background-color: rgb(252, 205, 228);
      font-family: 'Quicksand', sans-serif;
  }

  h1{
    font-size: 36px;
    font-weight: 600;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 500;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
  }