body {
      background-color: rgb(252, 174, 212);;
      font-family: 'Quicksand', sans-serif;
  }

  h1{
    font-size: 36px;
    font-weight: 600;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 500;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }

  .cat-img{
    width: 150px;
    height: auto;
  }

  .cutecat-img{
    width: 120px;
    height: auto;
  }

  .twocats-img{
    width: 170px;
    height: auto;
   }

   .cat-heart-img{
    width: 120px;
    height: auto;
   }
   
   .calculator-img{
    width: 110px;
    height:auto;
   }

   .CatScience-img{
    width:120px;
    height:auto;
   }

   .CatEnglish-img{
    width:130px;
    height:auto;
   }

   .CatLaptop-img{
    width:130px;
    height:auto;
   }

   .CatReading-img{
    width:150px;
    height:auto;
   }



  
   .cat{
    padding: 20px;
   }

   .info{
    padding: 20px;
   }

   .Subjects{
    padding: 20px;
   }

   .link{
    padding: 20px;
   }


   nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(247, 186, 238);
    color:black;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 550;
   }

   nav a:hover{
    background-color: rgb(241, 156, 229) ;
   }

   main{
    background-color:  rgb(252, 205, 228);
   }

   nav{
    background-color:rgb(252, 205, 228);
   }

   footer{
    background-color:rgb(252, 205, 228);
    margin-top: 10px;
   }

   .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding:20px;
   }

   .container div {
    background-color:rgb(252, 174, 212);
    border: 2px black;
    padding: 20px;
    text-align: center;

   }

  
   
 


