body {
      background-color: #A3B18A;
      font-family: 'Quicksand', sans-serif;
      color: #3A4A3F;
  }

  h1{
    font-size: 36px;
    font-weight: 600;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 500;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }

  .cat-img{
    width: 150px;
    height: auto;
  }

  .cutecat-img{
    width: 120px;
    height: auto;
  }

  .twocats-img{
    width: 170px;
    height: auto;
   }

   .cat-heart-img{
    width: 120px;
    height: auto;
   }
   
   .calculator-img{
    width: 110px;
    height:auto;
   }

   .CatScience-img{
    width:120px;
    height:auto;
   }

   .CatEnglish-img{
    width:130px;
    height:auto;
   }

   .CatLaptop-img{
    width:130px;
    height:auto;
   }

   .CatReading-img{
    width:150px;
    height:auto;
   }

   .hvhslogo-img{
     width:130px;
    height:auto;
   }



  
   .cat{
    padding: 20px;
   }

   .info{
    padding: 20px;
   }

   .Subjects{
    padding: 20px;
   }

   .link{
    padding: 20px;
   }

   .h1{
     display: block;
    padding: 10px 20px;
    background-color: rgb(247, 186, 238);
    color:black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   }

   .h2{
      display: block;
    padding: 10px 20px;
    background-color: rgb(247, 186, 238);
    color:black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
   }


   nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #EAE2D6;
    color: #3A4A3F;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;

   }

   nav a:hover{
    background-color:  #8A9A7B ;
   }

   main{
    background-color:  rgb(252, 205, 228);
    padding-top: 25px;
    padding: 25px;
   }

   nav{
    background-color:#EAE2D6;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
   }

   footer{
    background-color:rgb(252, 205, 228);
    margin-top: 10px;
   }

   .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding:20px;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
   }

   .container div {
    background-color:rgb(252, 174, 212);
    border: 2px black;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
   }

   

   .container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:120px ;
    gap: 20px;
    padding: 20px;
    background-color: rgb(252, 205, 228);
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
   }

   .container2 .box{
    background-color:rgb(252, 174, 212) ;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;

   }

   .container2 .long{
    grid-row: span 2;
    background-color:rgb(252, 174, 212) ;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;
   }

   .container2 .wide{
    grid-column: span 2;
    background-color:rgb(252, 174, 212) ;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;
   }

  
   
 


