body {
      background-color: rgb(252, 205, 228);
      font-family: 'Quicksand', sans-serif;
  }

  h1{
    font-size: 36px;
    font-weight: 600;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 500;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }

  .cat-img{
    width: 150px;
    height: auto;
  }

  .cutecat-img{
    width: 120px;
    height: auto;
  }

  .twocats-img{
    width: 170px;
    height: auto;
   }

   .cat-heart-img{
    width: 120px;
    height: auto;
   }
   
   .calculator-img{
    width: 110px;
    height:auto;
   }

   .CatScience-img{
    width:120px;
    height:auto;
   }

   .CatEnglish-img{
    width:130px;
    height:auto;
   }

   .CatLaptop-img{
    width:130px;
    height:auto;
   }

   .CatReading-img{
    width:150px;
    height:auto;
   }


   nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(247, 186, 238);
    color:black;
    border-radius: 9px;
   }



   

  