body {
      background-color: #3A4A3F; ;
      font-family: 'Quicksand', sans-serif;
      color: #EAE2D6;
  }

  h1{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h2{
    font-weight: 500;
  }

  h3{
    font-weight: 400;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
  }

  .cat-img{
    width: 150px;
    height: auto;
  }

  .cutecat-img{
    width: 120px;
    height: auto;
  }

  .twocats-img{
    width: 170px;
    height: auto;
   }

   .cat-heart-img{
    width: 120px;
    height: auto;
   }
   
   .calculator-img{
    width: 110px;
    height:auto;
   }

   .CatScience-img{
    width:120px;
    height:auto;
   }

   .CatEnglish-img{
    width:130px;
    height:auto;
   }

   .CatLaptop-img{
    width:130px;
    height:auto;
   }

   .CatReading-img{
    width:150px;
    height:auto;
   }

   .hvhslogo-img{
     width:130px;
    height:auto;
   }

   .info .cat .subjects .link{
    margin-bottom: 50px;
   }

  
   .cat{
    padding: 20px;
   }

   .info{
    padding: 20px;
   }

   .Subjects{
    padding: 20px;
   }

   .link{
    padding: 20px;
   }

   .h1{
     display: block;
    padding: 10px 20px;
    background-color:  #D6C6AD;
    color: #3A4A3F;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   }

   .h2{
      display: block;
    padding: 10px 20px;
    background-color:  #D6C6AD;
    color: #3A4A3F;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
   }


   nav a{
    display: inline-block;
    padding: 8px 18px;
    background-color:  #4F5D4A;
    color: #EAE2D6;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    margin-inline-start: 10px;
    margin: 0 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;

   }

   nav a:hover{
    background-color: #D6C6AD ;
    color:#3A4A3F;
   }

   main{
    background-color: #EAE2D6;
    padding: 60px 40px;
    color: #3A4A3F;
   }

   nav{
    background-color:#3A4A3F;
    padding: 10px;
    margin: 0 25px;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    text-align: center;
    border-bottom: 1px solid #4F5D4A;
   }

   footer{
    background-color:#6B705C;
    margin-top: 10px;
    color: white;
    text-align: center;
   }

   .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding:20px;
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    background-color: #EAE2D6;
   }

   .container div {
    background-color:#D6C6AD;
    border: 2px black;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    color: #3A4A3F;
   }

   

   .container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:120px ;
    gap: 20px;
    padding: 20px;
    background-color: rgb(252, 205, 228);
    box-shadow: 0 8px 25px rgba(252, 120, 184, 0.99);
    background-color: #EAE2D6;
   }

   .container2 .box{
    background-color:#D6C6AD ;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;
    color: #3A4A3F;
   }

   .container2 .long{
    grid-row: span 2;
    background-color:#D6C6AD;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;
    color: #3A4A3F;
   }

   .container2 .wide{
    grid-column: span 2;
    background-color:#D6C6AD ;
    border: 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 15px;
    color: #3A4A3F;
   }

  
   
 


